/* All Common CSS Start  */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style-type: none;
}
a,a:hover{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
/* All Common CSS End  */
/* Header Part Start  */
.navbar{
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
}
.nav-link{
    color:#ddd;
    font-size: 16px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
}
.nav-link:hover{
    color:#ddd;
}
.SocialPart a{
    margin: 0 8px;
    color: #ddd;
    font-size: 16px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
}
/* Header Part End  */

/* Banner Part Start  */
#bannerPart{
    padding-top: 340px;
    padding-bottom: 100px;
    background: url(../Images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bannerText h3{
    font-size: 60px;
    font-weight: 400;
    color: #fff;
    font-family: "Oswald", sans-serif;
}
.bannerText h1{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    font-family: "Oswald", sans-serif;
}
.bannerText p{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    font-family: "Oswald", sans-serif;
    line-height: 24px;
}

.bannerText a{
    ont-size: 16px;
    font-weight: 600;
    color: #fff;
    font-family: "Oswald", sans-serif;
}
/* Banner Part End  */
/* Banner Part Start  */
/* Banner Part End  */
/* Banner Part Start  */
/* Banner Part End  */
/* Banner Part Start  */
/* Banner Part End  */
/* Banner Part Start  */
/* Banner Part End  */
/* Banner Part Start  */
/* Banner Part End  */
/* Banner Part Start  */
/* Banner Part End  */
/* Banner Part Start  */
/* Banner Part End  */
/* Banner Part Start  */
/* Banner Part End  */
/* Banner Part Start  */
/* Banner Part End  */